@tailwind base;
@tailwind components;
@tailwind utilities;


.icon-white {
    filter: invert(100%);
  }
  

  @font-face {
    font-family: 'BirdsParadise';
    src: url('../fonts/birdsparadise.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }